.card {
    width: 332px;
    height: 92px;
    font-size: 10px;
    margin: 10px;
    padding: 3px;
    color: rgba(0, 0, 0, 1.0);
    border: 3px solid rgba(0,0,0,1.0 );
}

.card:hover {
    width: 332px;
    height: 92px;
    font-size: 10px;
    margin: 10px;
    background-color: #DCEDFF;
}

.card-field {
    font-size: 12px;
    text-overflow: ellipsis;
    width: 280px;
    border: none;
    border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
    outline: none;
    margin-bottom: 5px;
    background-color: transparent;
    overflow: hidden;
    display: inline-block;

}