.card {
    width: 232px;
    min-width: 232px;
    height: 92px;
    font-size: 10px;
    margin: 10px;
    padding: 3px;
    color: rgba(0, 0, 0, 1.0);
    background-color: rgb(220, 237, 255, 1.0);
    border: 1px solid rgba(0, 0, 0, 0.05);

.card:hover {
    background-color: #DCEDFF;
}

.card-field {
    font-size: 12px;
    text-overflow: ellipsis;
    width: 180px;
    border: none;
    outline: none;
    margin-bottom: 5px;
    background-color: transparent;
    overflow: hidden;
    display: inline-block;

}