.card {
    width: 222px;
    height: 102px;
    font-size: 10px;
    margin: 10px;
    color: rgba(0, 0, 0, 1.0);
}

.card:hover {
    background-color: #DCEDFF;
}


.card-selected {
   border-bottom: rgba(121, 135, 214, 0.8);
}

.card-main {
    position: absolute;
    width: 222px;
    height: 80px;
    border: 1px solid rgba(0, 0, 0, 0.05);
    background-color: white;
    font-size: 10px;
    margin: 5px;
    color: rgba(0, 0, 0, 1.0);
    padding: 5px;
}

.card-crypto {
    width: 222px;
    height: 92px;
    font-size: 10px;
    color: rgba(0, 0, 0, 1.0);
}

.card-crypto-main {
    position: absolute;
    width: 200px;
    height: 70px;
    border: 1px solid rgba(0, 0, 0, 0.05);
    font-size: 10px;
    margin: 5px;
    color: rgba(0, 0, 0, 1.0);
    padding: 5px;
    background-color:rgba(243, 169, 169, 0.05);
}

.card-crypto-selected {
    position: absolute;
    width: 200px;
    height: 70px;
    border: 1px solid rgba(245, 161, 161, 0.8);
    font-size: 10px;
    margin: 5px;
    color: rgba(0, 0, 0, 1.0);
    padding: 5px;
    background-color:rgba(243, 169, 169, 0.05);
}

.card-crypto-main:hover {
    background-color: rgb(245, 161, 161);
}

.card-other {
    width: 222px;
    height: 92px;
    font-size: 10px;
    color: rgba(0, 0, 0, 1.0);
}

.card-other-certificate-main {
    position: absolute;
    width: 200px;
    height: 70px;
    border: 1px solid rgba(0, 0, 0, 0.05);
    font-size: 10px;
    margin: 5px;
    color: rgba(0, 0, 0, 1.0);
    padding: 5px;
    background-color:rgba(243, 169, 169, 0.05);
}

.card-other-certificate-main:hover {
    background-color: #2bdfd6;
}

.card-attachment {
    width: 222px;
    height: 92px;
    font-size: 10px;
    color: rgba(0, 0, 0, 1.0);
}

.card-attachment-main {
    position: absolute;
    width: 200px;
    height: 70px;
    border: 1px solid rgba(0, 0, 0, 0.05);
    font-size: 10px;
    margin: 5px;
    color: rgba(0, 0, 0, 1.0);
    padding: 5px;
    background-color:rgba(0, 255, 0, 0.05);
}

.card-attachment-main:hover {
    background-color: #b3ffb3;
}

.card-field {
    font-size: 12px;
    text-overflow: ellipsis;
    width: 160px;
    border: none;
    outline: none;
    margin-bottom: 5px;
    background-color: transparent;
    overflow: hidden;
    display: inline-block;

}