<!doctype html>
<html>

<head>
    <meta charset="utf-8">

    <link rel="icon" type="text/css" href="{{ url_for('static', filename='images/favicon.ico') }}" />

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}" />

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/tableview.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/scrollbar.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/popup.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/modal.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/toolbar.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/tab.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/card.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/content.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/collapsible.css') }}" />

    <link rel="stylesheet" type="text/css" href="{{ npm_url_for(component='simplemde', filename='dist/simplemde.min.css') }}" />

    <style>
        textarea {
            resize: none;
        }
    </style>

    <script src="{{ url_for('static', filename='javascripts/util/date.js') }}"></script>
    <script src="{{ url_for('static', filename='javascripts/util/fileutil.js') }}"></script>
    <script src="{{ url_for('static', filename='javascripts/util/stringutil.js') }}"></script>
    <script src="{{ url_for('static', filename='javascripts/util/message.js') }}"></script>
    <script src="{{ url_for('static', filename='javascripts/util/couchDB.js') }}"></script>
    <script src="{{ url_for('static', filename='javascripts/gui/tabview.js') }}"></script>
    <script src="{{ url_for('static', filename='javascripts/gui/tableview.js') }}"></script>
    <script src="{{ url_for('static', filename='javascripts/gui/pdfview.js') }}"></script>
    <script src="{{ url_for('static', filename='javascripts/gui/hexview.js') }}"></script>

    <script src="{{ url_for('static', filename='javascripts/gui/guiutil.js') }}"></script>

    <script src="{{ npm_url_for(component='papaparse', filename='papaparse.min.js') }}"></script>
    <script type="module" src="{{ npm_url_for(component='simplemde', filename='dist/simplemde.min.js') }}"></script>

    <script type="text/javascript"
    src="{{ npm_url_for(component='pdfjs-dist', filename='build/pdf.min.js') }}"></script>

    <script type="text/javascript" id="pdf-js-worker"
    src="{{ npm_url_for(component='pdfjs-dist', filename='build/pdf.worker.min.js') }}"></script>

    <script>
        pdfjsLib.GlobalWorkerOptions.workerSrc = document.getElementById("pdf-js-worker").getAttribute("src");
    </script>

    <!-- templates -->

    <script type="text/template" data-template="certificate-card-item">
        <div id="certificate-${id}" class="card-view card-crypto" style="position:relative;" onclick="window.view('certificate', '${id}');">
            <div id="certificate-view-${id}" class="card-crypto-main card-view-main" style="border-bottom:4px solid rgba(0,0,0, 0.0);">
                <div style="position:relative; color:black;">
                    <img src="{{url_for( 'static', filename='images/certificate.svg')}}" width="20" height="20" style="float: left;" />
                </div>
                <div style="font-size:12px; font-family:Arial, Helvetica, sans-serif; position:absolute; top:5px; bottom:0px; left:30px;">
                    <label type="text" class="card-field">
                        ${email}
                    </label>
                    <label type="text" class="card-field"> 
                        ${id}
                    </label>
                </div>
            </div>
        </div>
    </script>

    <script type="text/template" data-template="key-card-item">
        <div id="key-${id}" class="card-crypto" style="position:relative;" onclick="window.view('key', '${id}');">
            <div id="key-view-${id}" class="card-crypto-main card-view-main" style="border-bottom:4px solid rgba(0,0,0, 0.0);">
                <div>
                    <div style="position:relative; color:black;">
                        <img src="{{url_for( 'static', filename='images/keys.svg')}}" width="20" height="20" style="float: left;" />
                    </div>
                    <div style="font-size:12px; font-family:Arial, Helvetica, sans-serif; position:absolute; top:5px; bottom:0px; left:30px;">
                        <label type="text" class="card-field">
                            ${email}
                        </label>
                        <label type="text" class="card-field"> 
                            ${id}
                        </label>
                    </div>
                 </div>
                </div>
            </div>
        </div>
    </script>

    <script type="text/template" data-template="attachment-card-item">
        <div id="attachment-${id}" class="card-attachment" style="position:relative;" onclick="window.view('attachment', '${filename}', '${mimetype}');">
            <div id="attachment-view-${filename}" class="card-attachment-main card-view-main" style="border-bottom:4px solid rgba(0,0,0, 0.0);">
                <div>
                    <div style="position:relative; color:black;">
                        <img src="{{url_for( 'static', filename='images/file.svg')}}" width="20" height="20" style="float: left;" />
                    </div>
                    <div style="font-size:12px; font-family:Arial, Helvetica, sans-serif; position:absolute; top:5px; bottom:0px; left:30px;">
                        <label type="text" class="card-field">
                            ${filename}
                        </label>
                        <label type="text" class="card-field"> 
                            ${mimetype}
                        </label>
                    </div>
                 </div>
                </div>
            </div>
        </div>
    </script>

    <script type="text/template" data-template="other-certificate-card-item">
        <div id="other-certificate-${id}" class="card-view card-other" style="position:relative;" onclick="window.view('other', '${ref}');">
            <div id="other-view-${ref}" class="card-other-certificate-main card-view-main" style="border-bottom:4px solid rgba(0,0,0, 0.0);">
                <div style="position:relative; color:black;">
                    <img src="{{url_for( 'static', filename='images/user.svg')}}" width="20" height="20" style="float: left;" />
                </div>
                <div style="font-size:12px; font-family:Arial, Helvetica, sans-serif; position:absolute; top:5px; bottom:0px; left:30px;">
                    <label type="text" class="card-field">
                        ${email}
                    </label>
                    <label type="text" class="card-field"> 
                        ${id}
                    </label>
                </div>
            </div>
        </div>
    </script>

    <script type="text/template" data-template="certificate-details">
        <div style="margin: 0 auto; margin-top: 6px; text-align:left; padding:10px; overflow:hidden;">

            <div style="position:relative; color:black;">
                <img src="{{url_for( 'static', filename='images/certificate.svg')}}" width="24" height="24" style="float: left; margin:5px;" />
            </div>

            <h1 style="color:black; font-size:16px; font-weight: bold; margin-top:6px;">Certificate</h1>
    
            <p style="height:10px;"></p>
            <label style="color:navy; font-size:12px; margin-bottom:10px;">ID: ${id}</label>
            <p style="height:-3px;"></p>
            <label style="color:navy; font-size:12px; margin-bottom:10px;">Email: ${email}</label>
            <p style="height:-3px;"></p>
            <label style="color:navy; font-size:12px; margin-bottom:10px;">Issuer: ${issuer}</label>
            <p style="height:-3px;"></p>
            <label style="color:navy; font-size:12px; margin-bottom:10px;">Serial Number: ${serial-number}</label>
            <p style="height:-3px;"></p>
            <label style="color:navy; font-size:12px; margin-bottom:10px;">Not Valid Before: ${not-valid-before}</label>
            <p style="height:-3px;"></p>
            <label style="color:navy; font-size:12px; margin-bottom:10px;">Not Valid After: ${not-valid-after}</label>
            <p style="height:-3px;"></p>
            <div style="font-size:12px; margin-top:20px;">
            <h3>Certificate</h3>
            <div style="font-family: monospace; position:relative; margin:5px; width:445px; height:360px; overflow-y:auto;">
                <div>
                    ${certificate}
                </div>
            </div>
            <div style="position:absolute; bottom:10px; height:36px; left:10px; right:10px;">
                <span style="float:right; border:1px solid rgb(230,230,230); background-color:rgba(255,255,255,0.9); margin:3px; padding:3px; ">
                    <img id="download-certificate" class="menu-item" style="margin-left:5px; margin-right:5px; margin-top:-1;" src="{{url_for( 'static', filename='images/download.svg')}}" width="24" height="24" onclick="window.download('certificate');"/>
                </span>
            </div>
        </div>
    </script>

    <script type="text/template" data-template="key-details">
        <div style="margin: 0 auto; margin-top: 6px; text-align:left; padding:10px; overflow:hidden;">
            <div style="position:relative; color:black;">
                <img src="{{url_for( 'static', filename='images/keys.svg')}}" width="24" height="24" style="float: left; margin:5px;" />
            </div>

            <h1 style="color:black; font-size:16px; font-weight: bold; margin-top:6px;">Private Key</h1>
            <p style="height:10px;"></p>
            <label style="color:navy; font-size:12px; margin-bottom:10px;">ID: ${id}</label>
            <p style="height:-3px;"></p>
            <label style="color:navy; font-size:12px; margin-bottom:10px;">Email: ${email}</label>
            <p style="height:-3px;"></p>
            <label style="color:navy; font-size:12px; margin-bottom:10px;">Not Valid Before: ${not-valid-before}</label>
            <p style="height:-3px;"></p>
            <label style="color:navy; font-size:12px; margin-bottom:10px;">Not Valid After: ${not-valid-after}</label>
            <p style="height:-3px;"></p>
            <div style="font-size:12px; margin-top:20px;">
                <h3>Modulus</h3>
                <label style="font-family: monospace; position:relative; height:60px; max-width:175px; word-wrap:break-word;"">
                    <p style="text-wrap: wrap;">${private-key-modulus}</p>
                </label>
                <div style="font-size:12px; margin-top:20px;">
                <p style="height:3px;"></p>
                <h3>Certificate</h3>
                <div style="font-family: monospace; position:relative; margin:5px; width:445px; height:360px; overflow-y:auto;">
                    <div>
                        ${certificate}
                    </div>
                </div>
            </div>
        </div>
    </script>

    <script type="text/template" data-template="attachment-details">
        <div style="margin: 0 auto; margin-top: 6px; text-align:left; padding:10px; overflow:hidden;">

            <div style="position:relative; color:black;">
                <img src="{{url_for( 'static', filename='images/file.svg')}}" width="24" height="24" style="float: left; margin:5px;" />
            </div>
            <h1 style="color:black; font-size:16px; font-weight: bold; margin-top:6px;">${filename}</h1>
            <p></p>
            <p style="color:black; font-size:12px; margin-top:6px;">Mime-type: ${mimetype}</p>
            <p style="height:10px;"></p>
            <label style="color:navy; font-size:12px; margin-bottom:10px;">Size (on disk): ${size}</label>
            <p style="height:-3px"></p>
            <label style="color:navy; font-size:12px; margin-bottom:10px;">Revision: ${revision}</label>  
            <p style="height:10px"></p>
            <div>
            <div style="width:200px; height:200px; background: conic-gradient(rgba(0,0,255, 0.6) 0% ${percent}%, rgba(110,110,110, 0.4) ${percent}% 100%); border-radius: 50%; border:2px solid black;"></div>
            <div style="position:absolute; top: 200px; left:250px;">
                <div>
                    <div style="float: left; width:10px; height:10px; background-color:rgba(0,0,255, 0.6)">
                    </div>
                    <label style="float: left;">&nbsp;Used - ${percent}%</label>
                </div>
                <p style="width:100%; height:10px;"></p>
                <div>
                    <div style="float: left; width:10px; height:10px; background-color: rgba(110,110,110, 0.4)">
                    </div>
                    <label style="float: left;">&nbsp;Other - ${other}%</label>
                </div>
            </div>
    
            <div style="position:absolute; bottom:10px; height:36px; left:10px; right:10px;">
                <span style="float:right; border:1px solid rgb(230,230,230); background-color:rgba(255,255,255,0.9); margin:3px; padding:3px; ">
                    <img id="view-attachment" class="menu-item" style="margin-right:5px; margin-top:-1;" src="{{url_for( 'static', filename='images/view.svg')}}" width="24" height="24" onclick="window.details('attachment', '${filename}', '${mimetype}');"/>
                    <img id="delete-document" class="menu-item" style="margin-top:2px;" src="{{url_for( 'static', filename='images/trash.svg')}}" width="24" height="24" onclick="window.remove('attachment', '${filename}');"/> 
               </span>
            </div>
        </div>
    </script>

    <script type="text/template" data-template="other-certificate-details">
        <div style="margin: 0 auto; margin-top: 6px; text-align:left; padding:10px; overflow:hidden;">

            <div style="position:relative; color:black;">
                <img src="{{url_for( 'static', filename='images/user.svg')}}" width="24" height="24" style="float: left; margin:5px;" />
            </div>

            <h1 style="color:black; font-size:16px; font-weight: bold; margin-top:6px;">Other Certificate</h1>
    
            <p style="height:10px;"></p>
            <label style="color:navy; font-size:12px; margin-bottom:10px;">Email: ${email}</label>
            <p style="height:-3px;"></p>
            <label style="color:navy; font-size:12px; margin-bottom:10px;">Issuer: ${issuer}</label>
            <p style="height:-3px;"></p>
            <label style="color:navy; font-size:12px; margin-bottom:10px;">Serial Number: ${serial-number}</label>
            <p style="height:-3px;"></p>
            <label style="color:navy; font-size:12px; margin-bottom:10px;">Not Valid Before: ${not-valid-before}</label>
            <p style="height:-3px;"></p>
            <label style="color:navy; font-size:12px; margin-bottom:10px;">Not Valid After: ${not-valid-after}</label>
            <p style="height:-3px;"></p>
            <div style="font-size:12px; margin-top:20px;">
            <h3>Certificate</h3>
            <div style="font-family: monospace; position:relative; margin:5px; width:445px; height:360px; overflow-y:auto;">
                <div>
                    ${certificate}
                </div>
            </div>
            <div style="position:absolute; bottom:10px; height:36px; left:10px; right:10px;">
                <span style="float:right; border:1px solid rgb(230,230,230); background-color:rgba(255,255,255,0.9); margin:3px; padding:3px; ">
                    <img id="delete-other-certificate" class="menu-item" style="margin-left:5px; margin-right:5px; margin-top:-1;" src="{{url_for( 'static', filename='images/unshare.svg')}}" width="24" height="24" onclick="window.unshare(${ref});"/>
                </span>
            </div>
        </div>
    </script>

    <script type="text/template" data-template="regsitered-pod-item">
        <div id="passport-${id}" style="position:relative; text-align: center; margin:5px;" onclick="window.openPassport('${id}');">
            <div style="position:relative; color:black; margin:auto;">
                <img src="{{url_for( 'static', filename='images/new.svg')}}" width="64" height="64" />
            </div>
            <label id="label-passport-${id}">${id}</label>
        </div>
    </script>

</head>

<body style="overflow: hidden;" oncontextmenu="return false;">

    <!-- dialogs -->

    <dialog id="wait-dialog" class="dialog"
        style="position:absolute; width:100%; height:100%; opacity: 0.5; border: none; overflow: hidden;">
        <div style="position:absolute; width:100%; height:100%; overflow: hidden;">
            <div id="wait-spinner" style="position:absolute; left: 50%; top: 45%; opacity: 1.0;">
                <div style="width:48px; height:48px; z-index: 10; opacity: 1.0;" class="waiting">
                    <img src="{{url_for( 'static', filename='images/wait.svg')}}" width="48" height="48" />
                </div>
            </div>
        </div>
    </dialog>

    <dialog id="error-dialog" class="dialog message-dialog" style="min-width:400px;">
        <img src="{{url_for( 'static', filename='images/exclamation.svg')}}" width="48" height="48"
            style="float: left;" />
        <p id="error-message" style="font-size: 18px; font-weight: bold;">/p>
        <form method="dialog">
            <button class="message-dialog-small-button" style="float: right;">OK</button>
        </form>
    </dialog>

    
    <dialog id="info-dialog" class="dialog message-dialog" style="min-width:400px;">
        <img src="{{url_for( 'static', filename='images/info.svg')}}" width="48" height="48"
            style="float: left; margin:5px;" />
        <p id="info-message" style="font-size: 16px; font-weight: normal;">/p>
        <form method="dialog">
            <button class="message-dialog-small-button" style="float: right;">OK</button>
        </form>
    </dialog>

    <dialog id="connect-dialog" class="dialog message-dialog" style="min-width:400px; overflow: hidden;">
        <img src="{{url_for( 'static', filename='images/connect.svg')}}" width="48" height="48" style="float: left;" />
        <p style="font-size: 18px; font-weight: bold;">Enter the CouchDB URL</p>
        <input class="modal-entry" id="couchdb-url" type="text" name="couchdb-url"
            placeholder="http://userid:password@localhost:5984">
        </input>

        <div id="connect-message"
            style="color:rgba(255,0,0,0.6); width:380px; float:left; font-size: 12px; margin-top:8px; height:80px; ">
        </div>

        <div style="position:absolute; display:inline-block; bottom:10px; right:12px; width:100%;">
            <button id="connect-dialog-cancel" class="close-button message-dialog-small-cancel-button"
            style="display: none; float:right;">Cancel</button>

            <button id="ok-connect-dialog" class="message-dialog-small-ok-button"  style="float:right;">Connect</button>
         </div>

    </dialog>

    <dialog id="new-pod-dialog" class="dialog message-dialog" style="min-width:640px; width:640px">
        <img src="{{url_for( 'static', filename='images/new.svg')}}" width="32" height="32" style="float: left;" />

        <p style="font-size: 18px; font-weight: bold; text-align: top; float: left; margin-top:6px; width:90%">&nbsp;New
            POD</p>
        <div class="modal-body" style="margin-top:12px;">
            <p style="height:-1px"></p>
            <label class="modal-label" value="Email">Email</label>
            <input class="modal-entry template-entry" id="email" type="email" name="email" placeholder="Email..."
                value="">
            </input>
            <p style="height:-1px"></p>
            <label class="modal-label" value="Issuer">Issuer</label>
            <input class="modal-entry template-entry" id="issuer" type="text" name="issuer" placeholder="Issuer...">
            </input>
            <p style="height:-1px"></p>
            <label class="modal-label" value="Organisation">
                Organisation
            </label>
            <input class="modal-entry template-entry" id="organisation" type="text" name="organisation"
                placeholder="Organisation...">
            </input>
            <p style="height:-1px"></p>
            <label class="modal-label" value="Common Name">
                Common Name
            </label>
            <input class="modal-entry template-entry" id="common-name" type="text" name="common-name"
                placeholder="Common Name...">
            </input>
            <p style="height:-1px"></p>
            <label class="modal-label" value="Key-Size">
                Key Size
            </label>
            <input class="modal-entry template-entry" id="key-size" type="number" name="key-size"
                placeholder="Key Size..." value="4096">
            </input>
            <p style="height:-1px"></p>
            <label class="modal-label" value="Exponent">
                Public Exponent
            </label>
            <input class="modal-entry template-entry" id="public-exponent" type="number" name="public-exponent"
                placeholder="Public Exponent..." value="65537">
            </input>
            <p style="height:-1px"></p>
            <label class="modal-label" value="Validaty Period">
                Validaty Period (Days)
            </label>
            <input class="modal-entry template-entry" id="validaty-period" type="number" name="validaty-period"
                placeholder="Days..." value="366">
            </input>
        </div>
        <div style="float: right; margin-top:10px;">
            <button id="new-pod-dialog-ok" class="message-dialog-small-ok-button">Generate</button>

            <button id="new-pod-dialog-cancel" class="close-button message-dialog-small-cancel-button">Cancel</button>
        </div>
    </dialog>

    <dialog id="pod-save-dialog" class="dialog message-dialog" style="min-width:500px;">
        <img src="{{url_for( 'static', filename='images/card.svg')}}" width="24" height="24" style="float: left;" />
        <p style="font-size: 18px; font-weight: bold; text-align: top; float: left; margin-top:6px; width:90%;">
            &nbsp;Save Passport</p>
        <p style="height:5px"></p>
        <label class="modal-label" value="Password">Password</label>
        <input class="modal-entry template-entry" style="width:100%;" id="p12-password" type="password" name="password"
            placeholder="Password...">
        </input>
        <p style="height:10px"></p>
        <form method="dialog">
            <button id="pod-save-dialog-cancel" class="close-button message-dialog-small-cancel-button"
            style="float: right; margin-top:10px;">Cancel</button>

            <button id="pod-save-dialog-ok" class="message-dialog-small-ok-button"
                style="float: right; margin-top:10px;">Download</button>
        </form>
    </dialog>

    <dialog id="upload-passport-dialog" class="dialog message-dialog" style="min-width:700px;">
        <img src="{{url_for( 'static', filename='images/open.svg')}}" width="48" height="48" style="float: left;" />
        <p style="font-size: 18px; font-weight: bold;">Unlock Passport</p>
        <div>
            <div>
                <input class="modal-entry" id="upload-passport-file" style="width:93%;" type="text"
                    name="upload-passport-name" placeholder="Upload Passport..." readonly>
                </input>

                <div style="float:right;padding-top:6px;">
                    <button id="select-upload-passport" class="message-dialog-small-button">...</button>
                </div>
                <input class="modal-entry template-entry" style="width:200px;" id="passport-password" type="password"
                    name="passport-password" placeholder="Password...">
                </input>
            </div>
        </div>

        <div id="upload-message"
            style="color:rgba(255,0,0,0.6); width:300px; float:left; font-size: 12px; margin-top:8px;"></div>

        <div style="margin-top:10px;">
            <button id="upload-passport-dialog-close" class="close-button message-dialog-small-cancel-button"
            style="float: right; margin-top:10px;">Cancel</button>

            <button id="upload-passport-dialog-ok" class="message-dialog-small-ok-button"
                style="float: right; margin-top:10px;">Unlock</button>
        </div>

    </dialog>

    <dialog id="settings-dialog" class="dialog message-dialog" style="min-width:500px;">
        <img src="{{url_for( 'static', filename='images/settings.svg')}}" width="48" height="48" style="float: left;" />
        <p style="font-size: 18px; font-weight: bold;">Settings</p>
        <div style="font-size:14px; vertical-align: center; margin-top: 5px;">
            <fieldset>
                <legend style="font-size:16px; font-weight: bold;">View Artifact Selection</legend>
                <div style="margin-top: 4px;">
                    <input id="view-certificates" type="checkbox" name="view-certificates"></input>
                    <label for="view-certificates" style="font-size:14px;">Certificates</label>
                </div>
                <div style="margin-top: 4px;">
                    <input id="view-keys" type="checkbox" name="view-keys"></input>
                    <label for="view-keys" style="font-size:14px;">Keys</label>
                </div>
                <div style="margin-top: 4px;">
                    <input id="view-others" type="checkbox" name="view-others"></input>
                    <label for="view-others" style="font-size:14px;">Other Certificates</label>
                </div>
                <div style="margin-top: 4px;">
                    <input id="view-files" type="checkbox" name="view-files"></input>
                    <label for="view-files" style="font-size:14px;">Files</label>
                </div>
            </fieldset>
            <button id="clear-pod-cache" class="message-dialog-small-cancel-button"
            style="margin-top:10px;">Clear POD Cache</button>
        </div>

        <div style="float: right; margin-top:10px;">
            <button id="settings-dialog-ok" class="message-dialog-small-ok-button">Apply</button>
            <button id="settings-dialog-cancel" class="close-button message-dialog-small-cancel-button">Cancel</button>
         </div>

    </dialog>

    <dialog id="upload-file-dialog" class="dialog message-dialog" style="min-width:720px;">
        <img src="{{url_for( 'static', filename='images/upload.svg')}}" width="48" height="48" style="float: left;" />
        <p style="font-size: 18px; font-weight: bold;">Upload File</p>
        <div>
            <div>
                <input class="modal-entry" id="upload-file-name" style="width:93%;" type="text" name="upload-file-name"
                    placeholder="Upload File..." readonly>
                </input>

                <div style="float:right;padding-top:6px;">
                    <button id="select-upload-file" class="message-dialog-small-button">...</button>
                </div>
            </div>
        </div>

        <div id="upload-message"
            style="color:rgba(255,0,0,0.6); width:300px; float:left; font-size: 12px; margin-top:8px;"></div>

        <div style="margin-top:10px;">
            <button id="upload-file-dialog-close" class="close-button message-dialog-small-cancel-button"
            style="float: right; margin-top:10px;">Cancel</button>

            <button id="upload-file-dialog-ok" class="message-dialog-small-ok-button"
                style="float: right; margin-top:10px;">Upload</button>

        </div>

    </dialog>

    <dialog id="display-csv-dialog" class="dialog message-dialog" style="min-width:840px; width:840px; height:700px;">
        <div class="modal-header" style="background-color: black">
            <span id="display-csv-dialog-close" class="close close-button">&times;</span>
            <h2>CSV View</h2>
        </div>
        <div>
            <div id="table" style="position:absolute; display:inline-block; width:800px; height:600px; overflow:auto; border:1px solid rgb(230,230,230)">
            </div>                  
        </div>
    </dialog>

    <dialog id="display-hex-dialog" class="dialog message-dialog" style="min-width:820px; width:820px; height:700px;">
        <div class="modal-header" style="background-color: black">
            <span id="display-hex-dialog-close" class="close close-button">&times;</span>
            <h2>HEX View</h2>
        </div>
        <div>
            <div id="hex-view" style="position:absolute; display:inline-block; width:780px; height:600px; overflow-y : auto; font-family:'Courier New', Courier, monospace; overflow:auto; border:1px solid rgb(230,230,230)">
            </div>                  
        </div>
    </dialog>

    <dialog id="attachment-dialog" class="modal dialog" tabindex="-1">
        <div style="position:absolute; top:0px; bottom:0px; left:0px; right:0px;">
            <div class="modal-content" style="width:1040px; height:860px; background-color: rgb(255, 255, 255);">
                <div class="modal-header" style="background-color: black">
                    <span id="attachment-dialog-close" class="close close-button">&times;</span>
                    <h2>Attachment View</h2>
                </div>
                <div class="modal-body">
                    <div
                        style="text-align: center; overflow: auto; height:740px; width:1000px; border: 1px solid rgba(0,0,0, 0.2)">
                        <canvas id="attachment-view"></canvas>
                    </div>
                </div>

                <div style="text-align: center;">
                    <img id="page-left" class="menu-item" style="margin-right:5px;"
                        src="{{url_for( 'static', filename='images/page-left.svg')}}" width="32" height="32" />
                    <span style="position:relative; text-align: center; top:-10px;">
                        <label id="pagne-no" style="display: inline-block; width:40px;">1</label>
                    </span>
                    <img id="page-right" class="menu-item"
                        src="{{url_for( 'static', filename='images/page-right.svg')}}" width="32" height="32" />
                </div>
            </div>
        </div>
    </dialog>

    <dialog id="delete-dialog" class="dialog message-dialog" style="min-width:400px;">
        <img src="{{url_for( 'static', filename='images/delete.svg')}}" width="48" height="48"
            style="float: left;" />
        <p id="delete-message" style="font-size: 18px;"></p>
        <div style="margin-top:10px;">
            
            <button id="delete-dialog-close" class="close-button message-dialog-small-cancel-button"
                style="float: right; margin-top:10px;">Cancel</button>

            <button id="delete-dialog-ok" class="message-dialog-small-ok-button"
                style="float: right; margin-top:10px;">Delete</button>

        </div>
    </dialog>

    <dialog id="edit-dialog" class="dialog message-dialog" style="min-width:840px; width:840px; height:545px; overflow: hidden;">
        <div class="modal-header" style="background-color: black">
            <span id="edit-dialog-close" class="close close-button">&times;</span>
            <h2>Readme Editor</h2>
        </div>
        <div>
            <textarea id="readme-editor" style="position:absolute; display:inline-block; width:800px; overflow:auto; border:1px solid rgb(230,230,230)"></textarea>                  
        </div>
        <div style="margin-top:10px;">
            <button id="edit-dialog-close" class="close-button message-dialog-small-cancel-button"
            style="float: right; margin-top:10px;">Cancel</button>

            <button id="edit-dialog-ok" class="message-dialog-small-ok-button"
                style="float: right; margin-top:10px;">Save</button>

        </div>
    </dialog>
    
    <dialog id="register-dialog" class="dialog message-dialog" style="min-width:840px; width:840px; height:540px;">
        <div class="modal-header" style="background-color: black">
            <span id="register-dialog-close" class="close close-button">&times;</span>
            <h2>POD Register</h2>
        </div>
        <div id="register"
            style="position:absolute; display:inline-block; width:800px; height:450px; overflow:auto; border:1px solid rgb(230,230,230)">

            <div id="registered-artifacts"
                style="position:absolute; width:790px; height:440px; overflow:auto;">
                <div id="registered-artifacts-container" class="selection-box">
                </div>
            </div>
        </div>
    </dialog>

    <dialog id="pod-open-dialog" class="dialog message-dialog" style="min-width:500px;">
        <img src="{{url_for( 'static', filename='images/card.svg')}}" width="32" height="32" style="float: left;" />
        <p style="font-size: 18px; font-weight: bold; text-align: top; float: left; margin-top:6px; width:90%;">
            &nbsp;Open Passport</p>
        <p style="height:5px"></p>
        <label class="modal-label" value="Password">Password</label>
        <input class="modal-entry template-entry" style="width:100%;" id="pod-passport-password" type="password" name="password"
            placeholder="Password...">
        </input>
        <p style="height:10px"></p>
        <form method="dialog">
            <button id="pod-open-dialog-cancel" class="close-button message-dialog-small-cancel-button"
            style="float: right; margin-top:10px;">Cancel</button>

            <button id="pod-open-dialog-ok" class="message-dialog-small-ok-button"
                style="float: right; margin-top:10px;">Open</button>
        </form>
    </dialog>

    <dialog id="upload-certificate-dialog" class="dialog message-dialog" style="min-width:700px;">
        <img src="{{url_for( 'static', filename='images/add-user.svg')}}" width="48" height="48" style="float: left;" />
        <p style="font-size: 18px; font-weight: bold;">Upload Certificate</p>
        <div>
            <div>
                <input class="modal-entry" id="upload-certificate-file" style="width:93%;" type="text"
                    name="upload-certificate-name" placeholder="Upload Certificate..." readonly>
                </input>

                <div style="float:right;padding-top:6px;">
                    <button id="select-certificate-file" class="message-dialog-small-button">...</button>
                </div>
            </div>
        </div>

        <div id="upload-certificate-message"
            style="color:rgba(255,0,0,0.6); width:300px; float:left; font-size: 12px; margin-top:8px;"></div>

        <div style="margin-top:10px;">
            <button id="upload-certificate-dialog-close" class="close-button message-dialog-small-cancel-button"
            style="float: right; margin-top:10px;">Cancel</button>

            <button id="upload-certificate-dialog-ok" class="message-dialog-small-ok-button"
                style="float: right; margin-top:10px;">Upload</button>
        </div>

    </dialog>

    <div style="overflow:hidden; user-select: none;">
        <div style="overflow:hidden;">

            <div id="toolbar"
                style="position: absolute; top:0px; left:0px; right:0px; height:36px; -webkit-app-region: drag;">
                <div style="position: absolute; top:5px; left:0px; padding-right:0px;">
                    <img src="{{ url_for( 'static', filename='images/peapod.png' ) }}" width="32" height="32" />
                </div>
                <div style="position: absolute; top:-4px; left:36px; padding-right:0px;">
                    <h1>PEA-POD : POD Management Console</h1>
                </div>

                <div style="position:absolute; top:5px; right:2px; width:126px;">

                    <a id="update-settings" style="position:absolute; right:2px; top:2px; " class="menu-item">
                        <img src="{{ url_for( 'static', filename='images/settings.svg' ) }}" width="28" height="28" />
                    </a>

                    <a id="connect-couchdb" style="position:absolute; left:64px; top:2px; " class="menu-item">
                        <img src="{{ url_for( 'static', filename='images/connect.svg' ) }}" width="28" height="28" />
                    </a>
                </div>

            </div>

            <div id="menu-panels"
                style="position:absolute; top:44px; left:10px; width:440px; bottom:40px; border: 1px solid rgba(0,0,0, 0.2); padding:4px; overflow:hidden;">
                <button class="collapsible">File</button>
                <div class="collapsible-content"
                    style="margin-top:4px; margin-bottom:12px; margin-bottom:12px; max-height:800px;">
                    <table class="selection" style="margin-top: 4px;">
                        <tr>
                            <td>
                                <button class="collapsible-menu" id="new-pod">
                                    <img src="{{url_for( 'static', filename='images/new.svg')}}"
                                        style="width:20px; height:20px; margin-top:4px; margin-right:4px;"></img>
                                    <label for="new-pod" style="position:relative; top:-5px;">New POD</label>
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <button class="collapsible-menu" id="open-pod">
                                    <img src="{{url_for( 'static', filename='images/open.svg')}}"
                                        style="width:20px; height:22px; margin-top:4px; margin-right:4px;"></img>
                                    <label for="open-pod" style="position:relative; top:-5px;">Unlock POD</label>
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <button class="collapsible-menu" id="open-register">
                                    <img src="{{url_for( 'static', filename='images/favorites.svg')}}"
                                        style="width:20px; height:22px; margin-top:4px; margin-right:4px;"></img>
                                    <label for="open-register" style="position:relative; top:-5px;">Open Register</label>
                                </button>
                            </td>
                        </tr>
                    </table>
                </div>
                <button id="actions-button" class="collapsible" style="visibility:hidden;">Action</button>
                <div id="actions-button-content" class="collapsible-content"
                    style="margin-top:4px; margin-bottom:12px; margin-bottom:12px; visibility:hidden;">
                    <table class="selection" style="margin-top: 4px;">
                        <tr>
                            <td>
                                <button class="collapsible-menu" id="register-passport">
                                    <img src="{{url_for( 'static', filename='images/register.svg')}}"
                                        style="width:20px; height:22px; margin-top:4px; margin-right:4px;"></img>
                                    <label for="register-passport" style="position:relative; top:-5px;">Register Passport</label>
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <button class="collapsible-menu" id="unregister-passport">
                                    <img src="{{url_for( 'static', filename='images/unregister.svg')}}"
                                        style="width:20px; height:22px; margin-top:4px; margin-right:4px;"></img>
                                    <label for="unregister-passport" style="position:relative; top:-5px;">Unregister Passport</label>
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <button class="collapsible-menu" id="upload-file">
                                    <img src="{{url_for( 'static', filename='images/upload.svg')}}"
                                        style="width:20px; height:22px; margin-top:4px; margin-right:4px;"></img>
                                    <label for="upload-file" style="position:relative; top:-5px;">Upload File</label>
                                </button>
                            </td>
                        </tr>  
                        <tr>
                            <td>
                                <button class="collapsible-menu" id="add-user">
                                    <img src="{{url_for( 'static', filename='images/add-user.svg')}}"
                                        style="width:20px; height:22px; margin-top:4px; margin-right:4px;"></img>
                                    <label for="add-user" style="position:relative; top:-5px;">Add User</label>
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <button class="collapsible-menu" id="edit-readme">
                                    <img src="{{url_for( 'static', filename='images/readme-editor.svg')}}"
                                        style="width:20px; height:22px; margin-top:4px;margin-right:4px;"></img>
                                    <label for="edit-readme" style="position:relative; top:-5px;">Edit Readme</label>
                                </button>
                            </td>
                        </tr>
                    </table>
                </div>

                <button id="edit-button" class="collapsible" style="visibility:hidden;">Support</button>
                <div id="edit-button-content" class="collapsible-content"
                    style="margin-top:4px; margin-bottom:12px; margin-bottom:12px; visibility:hidden;">
                    <table class="selection" style="margin-top: 4px;">
                        <tr>
                            <td>
                                <button class="collapsible-menu" id="save-passport">
                                    <img src="{{url_for( 'static', filename='images/secure-save.svg')}}"
                                        style="width:20px; height:22px; margin-top:4px;margin-right:4px;"></img>
                                    <label for="save-pod" style="position:relative; top:-5px;">Save Passport</label>
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <button class="collapsible-menu" id="delete-pod">
                                    <img src="{{url_for( 'static', filename='images/delete.svg')}}"
                                        style="width:20px; height:22px; margin-top:4px; margin-right:4px;"></img>
                                    <label for="delete-pod" style="position:relative; top:-5px;">Delete POD</label>
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <button class="collapsible-menu" id="backup-pod">
                                    <img src="{{url_for( 'static', filename='images/backup.svg')}}"
                                        style="width:20px; height:22px; margin-top:4px; margin-right:4px;"></img>
                                    <label for="backup-pod" style="position:relative; top:-5px;">Backup POD</label>
                                </button>
                            </td>
                        </tr>  
                    </table>
                </div>          
            </div>

            <div id="container"
                style="position:absolute; top:44px; left:460px; right:495px; bottom:40px; border: 1px solid rgba(0,0,0, 0.2); overflow:hidden;">

                <div id="artifacts"
                    style="position:absolute; top:10px; left:10px; right:10px; bottom:10px; font-size:14px; overflow:auto;">
                    <div id="artifacts-container" class="mainbox">
                    </div>
                </div>
            </div>
            <div id="details" class="details"
                style="position:absolute; top:44px; right:10px; width:475px; bottom: 40px; border: 1px solid rgba(0,0,0, 0.2); overflow:hidden; background-color: white;">
            </div>
            <div id="pod-status" class="status-message" style="position:absolute; bottom:10px; left:6px;">
            </div>
            <div id="couchdb-status" class="status-message" style="position:absolute; bottom:10px; right:6px;">
            </div>
        </div>

    </div>

</body>

<script type="module" src="{{ url_for('static', filename='javascripts/main.js') }}"></script>

</html