<!doctype html>
<html>

<head>
    <meta charset="utf-8">

    <link rel="icon" type="text/css" href="{{ url_for('static', filename='images/favicon.ico') }}" />

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}" />

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/tableview.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/scrollbar.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/popup.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/modal.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/toolbar.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/tab.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/card.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/content.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/collapsible.css') }}" />
    <style>
        textarea {
            resize: none;
        }
    </style>

    <script src="{{ url_for('static', filename='javascripts/util/date.js') }}"></script>
    <script src="{{ url_for('static', filename='javascripts/util/fileutil.js') }}"></script>
    <script src="{{ url_for('static', filename='javascripts/util/stringutil.js') }}"></script>
    <script src="{{ url_for('static', filename='javascripts/util/message.js') }}"></script>
    <script src="{{ url_for('static', filename='javascripts/util/couchDB.js') }}"></script>
    <script src="{{ url_for('static', filename='javascripts/gui/tabview.js') }}"></script>
    <script src="{{ url_for('static', filename='javascripts/gui/tableview.js') }}"></script>

    <script src="{{ url_for('static', filename='javascripts/gui/guiutil.js') }}"></script>

    <script src="{{ npm_url_for(component='papaparse', filename='papaparse.min.js') }}"></script>

    <!-- templates -->

    <script type="text/template" data-template="certificate-card-item">
        <div id="certificate-${id}" class="card-crypto" style="position:relative;" onclick="show('certificate', '${id}');">
            <div class="card-crypto-main">
                <div style="position:relative; color:black;">
                    <img src="{{url_for( 'static', filename='images/certificate.svg')}}" width="20" height="20" style="float: left;" />
                </div>
                <div style="font-size:12px; font-family:Arial, Helvetica, sans-serif; position:absolute; top:5px; bottom:0px; left:30px;">
                    <label type="text" class="card-field">
                        ${email}
                    </label>
                    <label type="text" class="card-field"> 
                        ${id}
                    </label>
                </div>
            </div>
        </div>
    </script>

    <script type="text/template" data-template="key-card-item">
        <div id="key-${id}" class="card-crypto" style="position:relative;" onclick="show('key', '${id}');">
            <div class="card-crypto-main">
                <div>
                    <div style="position:relative; color:black;">
                        <img src="{{url_for( 'static', filename='images/keys.svg')}}" width="20" height="20" style="float: left;" />
                    </div>
                    <div style="font-size:12px; font-family:Arial, Helvetica, sans-serif; position:absolute; top:5px; bottom:0px; left:30px;">
                        <label type="text" class="card-field">
                            ${email}
                        </label>
                        <label type="text" class="card-field"> 
                            ${id}
                        </label>
                    </div>
                 </div>
                </div>
            </div>
        </div>
    </script>

    <script type="text/template" data-template="attachment-card-item">
        <div id="attachment-${id}" class="card-attachment" style="position:relative;" onclick="show('attachment', '${filename}', '${mimetype}');">
            <div class="card-attachment-main">
                <div>
                    <div style="position:relative; color:black;">
                        <img src="{{url_for( 'static', filename='images/file.svg')}}" width="20" height="20" style="float: left;" />
                    </div>
                    <div style="font-size:12px; font-family:Arial, Helvetica, sans-serif; position:absolute; top:5px; bottom:0px; left:30px;">
                        <label type="text" class="card-field">
                            ${filename}
                        </label>
                        <label type="text" class="card-field"> 
                            ${mimetype}
                        </label>
                    </div>
                 </div>
                </div>
            </div>
        </div>
    </script>

    <script type="text/template" data-template="certificate-details">
        <div style="margin: 0 auto; margin-top: 6px; text-align:left; padding:10px; overflow:hidden;">

            <div style="position:relative; color:black;">
                <img src="{{url_for( 'static', filename='images/certificate.svg')}}" width="24" height="24" style="float: left; margin:5px;" />
            </div>

            <h1 style="color:black; font-size:16px; font-weight: bold; margin-top:6px;">Certificate</h1>
    
            <p style="height:10px;"></p>
            <label style="color:navy; font-size:12px; margin-bottom:10px;">ID: ${id}</label>
            <p style="height:-3px;"></p>
            <label style="color:navy; font-size:12px; margin-bottom:10px;">Email: ${email}</label>
            <p style="height:-3px;"></p>
            <label style="color:navy; font-size:12px; margin-bottom:10px;">Issuer: ${issuer}</label>
            <p style="height:-3px;"></p>
            <label style="color:navy; font-size:12px; margin-bottom:10px;">Serial Number: ${serial-number}</label>
 
            <div style="font-size:12px; margin-top:20px;">
            <h3>Certificate</h3>
            <div style="font-family: monospace; position:relative; margin:5px; width:445px; height:360px; overflow-y:auto;">
                <div>
                    ${certificate}
                </div>
            </div>
        </div>
    </script>

    <script type="text/template" data-template="key-details">
        <div style="margin: 0 auto; margin-top: 6px; text-align:left; padding:10px; overflow:hidden;">
            <div style="position:relative; color:black;">
                <img src="{{url_for( 'static', filename='images/keys.svg')}}" width="24" height="24" style="float: left; margin:5px;" />
            </div>

            <h1 style="color:black; font-size:16px; font-weight: bold; margin-top:6px;">Private Key</h1>
            <p style="height:10px;"></p>

            <label style="color:navy; font-size:12px; margin-bottom:10px;">ID: ${id}</label>
            <p style="height:1px;"></p>
            <label style="color:navy; font-size:12px; margin-bottom:10px;">Email: ${email}</label>
            <p style="height:-3px;"></p>
            <div style="font-size:12px; margin-top:20px;">
                <h3>Modulus</h3>
                <label style="font-family: monospace; position:relative; height:60px; max-width:175px; word-wrap:break-word;"">
                    <p style="text-wrap: wrap;">${private-key-modulus}</p>
                </label>
                <div style="font-size:12px; margin-top:20px;">
                <p style="height:3px;"></p>
                <h3>Certificate</h3>
                <div style="font-family: monospace; position:relative; margin:5px; width:445px; height:360px; overflow-y:auto;">
                    <div>
                        ${certificate}
                    </div>
                </div>
            </div>
        </div>
    </script>

    <script type="text/template" data-template="attachment-details">
        <div style="margin: 0 auto; margin-top: 6px; text-align:left; padding:10px; overflow:hidden;">

            <div style="position:relative; color:black;">
                <img src="{{url_for( 'static', filename='images/file.svg')}}" width="24" height="24" style="float: left; margin:5px;" />
            </div>
            <h1 style="color:black; font-size:16px; font-weight: bold; margin-top:6px;">${filename}</h1>
            <p></p>
            <p style="color:black; font-size:12px; margin-top:6px;">Mime-type: ${mimetype}</p>
 
            <div style="position:absolute; bottom:10px; height:36px; left:10px; right:10px;">
                <span style="float:right; border:1px solid rgb(230,230,230); background-color:rgba(255,255,255,0.8); margin:3px; padding:3px; ">
                    <img id="view-attachment" class="menu-item" style="margin-right:5px; margin-top:-1;" src="{{url_for( 'static', filename='images/expand.svg')}}" width="24" height="24" onclick="view('attachment', '${filename}');"/>
                    <img id="delete-document" class="menu-item" style="margin-top:2px;" src="{{url_for( 'static', filename='images/trash.svg')}}" width="24" height="24" onclick="remove('attachment', '${filename}');"/> 
               </span>
            </div>
        </div>
    </script>

</head>

<body style="overflow: hidden;" oncontextmenu="return false;">

    <!-- dialogs -->

    <dialog id="wait-dialog" class="dialog"
        style="position:absolute; width:100%; height:100%; opacity: 0.5; border: none; overflow: hidden;">
        <div style="position:absolute; width:100%; height:100%; overflow: hidden;">
            <div id="wait-spinner" style="position:absolute; left: 50%; top: 45%; opacity: 1.0;">
                <div style="width:48px; height:48px; z-index: 10; opacity: 1.0;" class="waiting">
                    <img src="{{url_for( 'static', filename='images/wait.svg')}}" width="48" height="48" />
                </div>
            </div>
        </div>
    </dialog>

    <dialog id="error-dialog" class="dialog message-dialog" style="min-width:400px;">
        <img src="{{url_for( 'static', filename='images/exclamation.svg')}}" width="48" height="48"
            style="float: left;" />
        <p id="error-message" style="font-size: 18px; font-weight: bold;">/p>
        <form method="dialog">
            <button class="message-dialog-small-button" style="float: right;">OK</button>
        </form>
    </dialog>

    <dialog id="connect-dialog" class="dialog message-dialog" style="min-width:400px;">
        <img src="{{url_for( 'static', filename='images/connect.svg')}}" width="48" height="48" style="float: left;" />
        <p style="font-size: 18px; font-weight: bold;">Enter the CouchDB URL</p>
        <input class="modal-entry" id="couchdb-url" type="text" name="couchdb-url"
            placeholder="http://userid:password@localhost:5984">
        </input>

        <div id="connect-message"
            style="color:rgba(255,0,0,0.6); width:300px; float:left; font-size: 12px; margin-top:8px;"></div>

        <button id="ok-connect-dialog" class="message-dialog-small-ok-button"
            style="float: right; margin-top:10px;">Connect</button>

        <button id="connect-dialog-cancel" class="close-button message-dialog-small-cancel-button"
            style="float: right; margin-top:10px; visibility: hidden;">Cancel</button>
        </div>

    </dialog>

    <dialog id="new-pod-dialog" class="dialog message-dialog" style="min-width:640px; width:640px">
        <img src="{{url_for( 'static', filename='images/folder.svg')}}" width="32" height="32" style="float: left;" />

        <p style="font-size: 18px; font-weight: bold; text-align: top; float: left; margin-top:6px; width:90%">&nbsp;New
            POD</p>
        <div class="modal-body" style="margin-top:12px;">
            <p style="height:-1px"></p>
            <label class="modal-label" value="Email">Email</label>
            <input class="modal-entry template-entry" id="email" type="email" name="email" placeholder="Email..."
                value="">
            </input>
            <p style="height:-1px"></p>
            <label class="modal-label" value="Issuer">Issuer</label>
            <input class="modal-entry template-entry" id="issuer" type="text" name="issuer" placeholder="Issuer...">
            </input>
            <p style="height:-1px"></p>
            <label class="modal-label" value="Organisation">
                Organisation
            </label>
            <input class="modal-entry template-entry" id="organisation" type="text" name="organisation"
                placeholder="Organisation...">
            </input>
            <p style="height:-1px"></p>
            <label class="modal-label" value="Common Name">
                Common Name
            </label>
            <input class="modal-entry template-entry" id="common-name" type="text" name="common-name"
                placeholder="Common Name...">
            </input>
            <p style="height:-1px"></p>
            <label class="modal-label" value="Key-Size">
                Key Size
            </label>
            <input class="modal-entry template-entry" id="key-size" type="number" name="key-size"
                placeholder="Key Size..." value="4096">
            </input>
            <p style="height:-1px"></p>
            <label class="modal-label" value="Exponent">
                Public Exponent
            </label>
            <input class="modal-entry template-entry" id="public-exponent" type="number" name="public-exponent"
                placeholder="Public Exponent..." value="65537">
            </input>
            <p style="height:-1px"></p>
            <label class="modal-label" value="Validaty Period">
                Validaty Period (Days)
            </label>
            <input class="modal-entry template-entry" id="validaty-period" type="number" name="validaty-period"
                placeholder="Days..." value="366">
            </input>
        </div>
        <button id="new-pod-dialog-ok" class="message-dialog-small-ok-button"
            style="float: right; margin-top:10px;">Generate</button>

        <button id="new-pod-dialog-cancel" class="close-button message-dialog-small-cancel-button"
            style="float: right; margin-top:10px;">Cancel</button>
        </div>
    </dialog>

    <dialog id="pod-save-dialog" class="dialog message-dialog" style="min-width:500px;">
        <img src="{{url_for( 'static', filename='images/card.svg')}}" width="24" height="24" style="float: left;" />
        <p style="font-size: 18px; font-weight: bold; text-align: top; float: left; margin-top:6px; width:90%;">
            &nbsp;Save Passport</p>
        <p style="height:5px"></p>
        <label class="modal-label" value="Password">Password</label>
        <input class="modal-entry template-entry" style="width:100%;" id="p12-password" type="password" name="password"
            placeholder="Password...">
        </input>
        <p style="height:10px"></p>
        <form method="dialog">
            <button id="pod-save-dialog-ok" class="message-dialog-small-ok-button"
                style="float: right; margin-top:10px;">Download</button>
            <button id="pod-save-dialog-cancel" class="close-button message-dialog-small-cancel-button"
                style="float: right; margin-top:10px;">Cancel</button>
        </form>
    </dialog>

    <dialog id="upload-passport-dialog" class="dialog message-dialog" style="min-width:700px;">
        <img src="{{url_for( 'static', filename='images/unlock.svg')}}" width="48" height="48" style="float: left;" />
        <p style="font-size: 18px; font-weight: bold;">Unlock passport</p>
        <div>
            <div>
                <input class="modal-entry" id="upload-passport-file" style="width:93%;" type="text"
                    name="upload-passport-name" placeholder="Upload Passport..." readonly>
                </input>

                <div style="float:right;padding-top:6px;">
                    <button id="select-upload-passport" class="message-dialog-small-button">...</button>
                </div>
                <input class="modal-entry template-entry" style="width:200px;" id="passport-password" type="password"
                    name="passport-password" placeholder="Password...">
                </input>
            </div>
        </div>

        <div id="upload-message"
            style="color:rgba(255,0,0,0.6); width:300px; float:left; font-size: 12px; margin-top:8px;"></div>

        <div style="margin-top:10px;">
            <button id="upload-passport-dialog-ok" class="message-dialog-small-ok-button"
                style="float: right; margin-top:10px;">Upload</button>

            <button id="upload-passport-dialog-close" class="close-button message-dialog-small-cancel-button"
                style="float: right; margin-top:10px;">Cancel</button>
        </div>

    </dialog>

    <dialog id="upload-file-dialog" class="dialog message-dialog" style="min-width:720px;">
        <img src="{{url_for( 'static', filename='images/upload.svg')}}" width="48" height="48" style="float: left;" />
        <p style="font-size: 18px; font-weight: bold;">Upload File</p>
        <div>
            <div>
                <input class="modal-entry" id="upload-file-name" style="width:93%;" type="text" name="upload-file-name"
                    placeholder="Upload File..." readonly>
                </input>

                <div style="float:right;padding-top:6px;">
                    <button id="select-upload-file" class="message-dialog-small-button">...</button>
                </div>
            </div>
        </div>

        <div id="upload-message"
            style="color:rgba(255,0,0,0.6); width:300px; float:left; font-size: 12px; margin-top:8px;"></div>

        <div style="margin-top:10px;">
            <button id="upload-file-dialog-ok" class="message-dialog-small-ok-button"
                style="float: right; margin-top:10px;">Upload</button>

            <button id="upload-file-dialog-close" class="close-button message-dialog-small-cancel-button"
                style="float: right; margin-top:10px;">Cancel</button>
        </div>

    </dialog>

    <dialog id="display-csv-dialog" class="dialog message-dialog" style="min-width:840px; width:840px; height:700px;">
        <div class="modal-header" style="background-color: black">
            <span id="display-csv-dialog-close" class="close close-button">&times;</span>
            <h2>Display CSV</h2>
        </div>
        <div>
            <div id="table" style="position:absolute; display:inline-block; width:800px; height:600px; overflow:auto; border:1px solid rgb(230,230,230)">
            </div>                  
        </div>
    </dialog>

    <div style="overflow:hidden; user-select: none;">
        <div style="overflow:hidden;">

            <div id="toolbar"
                style="position: absolute; top:0px; left:0px; right:0px; height:36px; -webkit-app-region: drag;">
                <div style="position: absolute; top:5px; left:0px; padding-right:0px;">
                    <img src="{{ url_for( 'static', filename='images/peapod.png' ) }}" width="32" height="32" />
                </div>
                <div style="position: absolute; top:-4px; left:36px; padding-right:0px;">
                    <h1>PEAPOD - POD Management Console</h1>
                </div>

                <div style="position:absolute; top:5px; right:2px; width:96px;">

                    <a id="update-settings" style="position:absolute; right:2px; top:2px; " class="menu-item">
                        <img src="{{ url_for( 'static', filename='images/settings.svg' ) }}" width="28" height="28" />
                    </a>

                    <a id="connect-couchdb" style="position:absolute; left:32px; top:2px; " class="menu-item">
                        <img src="{{ url_for( 'static', filename='images/connect.svg' ) }}" width="28" height="28" />
                    </a>

                </div>

            </div>

            <div id="menu-panels"
                style="position:absolute; top:44px; left:10px; width:440px; bottom:40px; border: 1px solid rgba(0,0,0, 0.2); padding:4px; overflow:hidden;">
                <button class="collapsible">File</button>
                <div class="collapsible-content"
                    style="margin-top:4px; margin-bottom:12px; margin-bottom:12px; max-height:800px;">
                    <table class="selection" style="margin-top: 4px;">
                        <tr>
                            <td>
                                <button class="collapsible-menu" id="new-pod">
                                    <img src="{{url_for( 'static', filename='images/folder.svg')}}"
                                        style="width:16px; height:22px; margin-top:4px; margin-right:4px;"></img>
                                    <label for="new-pod" style="position:relative; top:-5px;">New POD</label>
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <button class="collapsible-menu" id="open-pod">
                                    <img src="{{url_for( 'static', filename='images/unlock.svg')}}"
                                        style="width:20px; height:22px; margin-top:4px; margin-right:4px;"></img>
                                    <label for="open-pod" style="position:relative; top:-5px;">Unlock POD</label>
                                </button>
                            </td>
                        </tr>
                    </table>
                </div>
                <button class="collapsible">Actions</button>
                <div class="collapsible-content"
                    style="margin-top:4px; margin-bottom:12px; margin-bottom:12px;">
                    <table class="selection" style="margin-top: 4px;">
                        <tr>
                            <td>
                                <button class="collapsible-menu" id="save-passport">
                                    <img src="{{url_for( 'static', filename='images/secure-save.svg')}}"
                                        style="width:20px; height:22px; margin-top:4px;margin-right:4px;"></img>
                                    <label for="save-pod" style="position:relative; top:-5px;">Save Passport</label>
                                </button>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <button class="collapsible-menu" id="upload-file">
                                    <img src="{{url_for( 'static', filename='images/upload.svg')}}"
                                        style="width:20px; height:22px; margin-top:4px; margin-right:4px;"></img>
                                    <label for="upload-file" style="position:relative; top:-5px;">Upload File</label>
                                </button>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>

            <div id="container"
                style="position:absolute; top:44px; left:460px; right:495px; bottom:40px; border: 1px solid rgba(0,0,0, 0.2); overflow:hidden;">

                <div id="artifacts"
                    style="position:absolute; top:10px; left:10px; right:10px; bottom:10px; font-size:14px; overflow:auto;">
                    <div id="artifacts-container" class="mainbox">
                    </div>
                </div>
            </div>
            <div id="details" class="details"
                style="position:absolute; top:44px; right:10px; width:475px; bottom: 40px; border: 1px solid rgba(0,0,0, 0.2); overflow:hidden; background-color: white;">
            </div>
            <div id="couchdb-status" class="status-message" style="position:absolute; bottom:10px; right:6px;">
            </div>
        </div>

    </div>

</body>

<script src="{{ url_for('static', filename='javascripts/main.js') }}"></script>

</html